@font-face
{
	font-family: menu-font;
	src: url('fonts/GE_SS_Two_Light.otf')
}

@-moz-font-face
{
	font-family: menu-font;
	src: url('fonts/GE_SS_Two_Light.otf')
}

.fance-middle{
	border-radius:20px;
}