.login-bg { leftmargin="0"; topmargin="0"; marginwidth="0" ;marginheight="0";
    background: url(images/8.jpg);
background-color:#70961f;
   /* background-size:100%px 100%px; */
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;

     }

#login-wp { <br>; }
#login-wp { text-align: right; font-family: Tahoma, Geneva, sans-serif; font-size: 11px; }
#login-wp .btn { font-family: Tahoma, Geneva, sans-serif }
input, button, select, textarea { text-align: right }
#wrapper { margin: 0 auto; width: 2000px }*
a.hiddenanchor { display: none; }







#register, #login, #forget { position: absolute; top: 50px; }
#register { z-index: 21; opacity: 0; }
#forget { z-index: 19; opacity: 0;}
#login { z-index: 22; }
.change-link { padding: 20px 0 0 }
#toregister:target ~ #wrapper #register, #tologin:target ~ #wrapper #login, 
#toforget:target ~ #wrapper #forget { z-index: 22; -webkit-animation-name: fadeInLeft;
                                      -moz-animation-name: fadeInLeft; 
                                      -ms-animation-name: fadeInLeft; 
                                      -o-animation-name: fadeInLeft; 
                                      animation-name: fadeInLeft;
                                      -webkit-animation-delay: .1s;
                                      -moz-animation-delay: .1s;
                                      -o-animation-delay: .1s;
                                      -ms-animation-delay: .1s; animation-delay: .1s; }


#toregister:target ~ #wrapper #login,#toregister:target ~ #wrapper #forget, 
#tologin:target ~ #wrapper #register,#tologin:target ~ #wrapper #forget ,
#toforget:target ~ #wrapper #login,#toforget:target ~ #wrapper #register{
    
    -webkit-animation-name: fadeOutLeftBig; -moz-animation-name: fadeOutLeftBig;
    -ms-animation-name: fadeOutLeftBig; -o-animation-name: fadeOutLeftBig; animation-name: fadeOutLeftBig; }

/* #login, #register, #forget { background:  url(img/intro.png) no-repeat ;        width: 700px; height: 600px; }*/

 #login, #register, #forget { background: url(intro.png)  no-repeat ;
                             border-radius: 15px 15px 15px 15px;
                            /* box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); margin: 50px 0;*/
                             padding: 0 20px; width: 450px; height: 550px; }
/* #login h3, #register h3,#forget h3 { background: none repeat scroll 0 0 #F3F3F3;
    border-bottom: 1px solid #DDDDDD; border-radius: 15px 15px 0 0;
     font-size: 17px; margin: 0 -20px 15px; padding: 10px 20px 0; }*/
 #login-wp .text input, #login-wp .textarea textarea, #login-wp .select select { width: 150px; }