

/* Tablet Portrait (768px) */
@media only screen and (min-width: 321px) and (max-width: 1024px)  {
 	.layout { width:98%}
}

/* Phone Landscape (480px) */
@media only screen and (min-width: 321px) and (max-width: 480px){
 	.layout { width:96%; overflow:hidden; margin-top:5px}
	.logo {  text-align:center; float:none}
		 .header, .layout { border-radius:0;}
 	.login-as { float:none}
	.sidebar ul li a { padding:6px 12px;}
	.sidebar ul li a > span { font-size:24px;}
	.dashboard-items { background:none; width:96%; padding-bottom:0 }

}

 

