@media print
{
        #rmv{display:none;}
        .breadcrumb{display:none;}
        #lnge{display: none;}
        #printer{display: none;}
        .login-as{display: none;}
        #selected{margin-top: -100px;}
}