.sliders{margin:20px 8px;}
/*.sliders .slides_control{left:0px !important;position:static !important;}*/
.sliders .slider{width:470px;margin:0px 5px;padding:5px;border:1px solid #d2d2d2;float: right;position: relative;direction:ltr;overflow: hidden;height:270px; }
.sliders .slides_container{width:470px;overflow:hidden;position:relative;left:0px !important;}
.sliders .slides_container div.slide{width:470px;height:270px;display:block;/*left:0px !important;*/ }
#slides.next,#slides.prev{position:absolute;top:107px;left:-39px;width:24px;height:43px;display:block;z-index:101;}
#slides.next{left:585px;}
.sliders .pagination{margin:14px 0 0 6px;width:120px;position:absolute;background:rgba(255,255,255,0.4);border:1px solid #D2D2D2;border-radius:16px;-moz-border-radius:16px;-webkit-border-radius:16px;margin-right:11px;padding:5px;top:0px;z-index:100;right:0px;}
.sliders .pagination li{float:left;margin:0 1px;list-style:none;}
.sliders .pagination li a{display:block;width:15px;height:0;padding-top:15px;background-image:url(images/pagination2.png);background-position:0 0;float:left;overflow:hidden;}
.sliders .pagination li.current a{background-position:0 -15px;}
.caption{z-index:500;position:absolute;bottom:-35px;left:0;height:50px;padding:5px 20px 0 20px;background:rgba(66,119,173,.5);width:440px;font-size:1.3em;line-height:1.33;color:#fff;text-shadow:none;text-align: right;}
.banner-title a{ color: #fff;font-size: 16px;}
.banner-description{font-size: 11px;color: #d0e0fe;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;max-width: 440px;text-align: right;}

.featured-slider{overflow: auto;direction: ltr;position: relative;text-align: right;height:286px;}
.featured-slider .slides_control {height:272px !important;}
.featured-slider .pagination{width:120px;position:absolute;margin-right:11px;padding:5px; margin-left: 17px;
                             top: -6px;z-index:200;}
.featured-slider .pagination li{float:left;margin:0 1px;list-style:none;}
.featured-slider .pagination li a{display:block;width:12px;height:0;padding-top:11px;background-image:url(images/pagination3.png);background-position:0 0;float:left;overflow:hidden;}
.featured-slider .pagination li.current a{background-position:0 -12px;}


.product-slider{position: relative;}
.product-slider .slides_container{height:275px;overflow:hidden;}
/*.product-slider .slides_control {height:217px !important;}*/
.product-slider .pagination{width:120px;position:absolute;margin-right:11px;padding:5px; margin-left: 47px;
                            top: -23px;z-index:200;}
.product-slider .pagination li{float:left;margin:0 1px;list-style:none;}
.product-slider .pagination li a{display:block;width:10px;height:0;padding-top:10px;background-image:url(images/pagination4.png);background-position:0 0;float:left;overflow:hidden;}
.product-slider .pagination li.current a{background-position:0 -10px;}
.product-slider .navigation{width: 32px;position:absolute;padding:5px;
                            top: -23px;z-index:200;}
.product-slider .next{display:block;width:14px;height:0;padding-top:11px;background-image:url(images/next.png);float:left;overflow:hidden;}
.product-slider .prev{display:block;width:14px;height:0;padding-top:11px;background-image:url(images/prev.png);float:right;overflow:hidden;}




.showcase-load
{
    height: 470px; /* Same as showcase javascript option */
    overflow: hidden;
}

/* Container when content is shown as one page */
.showcase-onepage
{
    /**/
}

/* Container when content is shown in slider */
.showcase
{
    position: relative;
    margin: auto;
    border:1px solid #d9d9d9;
    margin-top:15px;
    direction: ltr;
    background: #d9d9d9;
}

.showcase-content-container
{
    background-color: #d9d9d9;
}

/* Navigation arrows */
.showcase-arrow-previous, .showcase-arrow-next
{
    position: absolute;
    background: url('images/arrows.png');
    width: 33px;
    height: 33px;
    top: 220px;
    cursor: pointer;
}

.showcase-arrow-previous
{
    left: -60px;
}

.showcase-arrow-previous:hover
{
    background-position: 0px -34px;
}

.showcase-arrow-next
{
    right: -56px;
    background-position: -34px 0;
}

.showcase-arrow-next:hover
{
    background-position: -34px -34px;
}

/* Content */
.showcase-content
{
    background-color: #d9d9d9;
    text-align: center;


}
.showcase-content img{padding: 10px;background: #fff;margin:10px 0; }

.showcase-content-wrapper
{
    text-align: center;
    height: 470px;
    width: 700px;
    display: table-cell;
    vertical-align: middle;
}

/* Styling the tooltips */
.showcase-plus-anchor
{
    background-image: url('images/plus.png');
    background-repeat: no-repeat;
}

.showcase-plus-anchor:hover
{
    background-position: -32px 0;
}

div.showcase-tooltip
{
    background-color: #fff;
    color: #000;
    text-align: left;
    padding: 5px 8px;
    background-image: url(images/white-opacity-80.png);
}

/* Styling the caption */
.showcase-caption
{
    color: #000;
    padding: 8px 15px;
    text-align: left;
    position: absolute;
    bottom: 10px; left: 10px; right: 10px;
    display: none;
    background-image: url(images/white-opacity-80.png);
}

.showcase-onepage .showcase-content
{
    margin-bottom: 10px;
}

/* Button Wrapper */
.showcase-button-wrapper
{
    clear: both;
    margin-top: 10px;
    text-align: center;
}

.showcase-button-wrapper span
{
    margin-right: 3px;
    padding: 2px 5px 0px 5px;
    cursor: pointer;
    font-size: 12px;
    color: #444444;
}

.showcase-button-wrapper span.active
{
    color: #fff;
}

/* Thumbnails */
.showcase-thumbnail-container /* Used for backgrounds, no other styling!!! */
{
    background-color: #d9d9d9;
}


.showcase-thumbnail-wrapper
{
    overflow: hidden;
}

.showcase-thumbnail
{
    width: 120px;
    height: 80px;
    cursor: pointer;
    border: solid 1px #333;
    position: relative;
}

.showcase-thumbnail-caption
{
    position: absolute;
    bottom: 2px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.showcase-thumbnail-content
{
    padding: 10px;
    text-align: center;
    padding-top: 25px;
}

.showcase-thumbnail-cover
{
    background-image: url(images/black-opacity-40.png);
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.showcase-thumbnail:hover
{
    border: solid 1px #999;
}

.showcase-thumbnail:hover .showcase-thumbnail-cover
{
    display: none;
}

.showcase-thumbnail.active
{
    border: solid 1px #999;
}

.showcase-thumbnail.active .showcase-thumbnail-cover
{
    display: none;
}

.showcase-thumbnail-wrapper-horizontal
{
    padding: 10px;
}

.showcase-thumbnail-wrapper-horizontal .showcase-thumbnail
{
    margin-right: 10px;
    width: 123px;
}

.showcase-thumbnail-wrapper-vertical
{
    padding: 10px;
}

.showcase-thumbnail-wrapper-vertical .showcase-thumbnail
{
    margin-bottom: 10px;
}

.showcase-thumbnail-button-backward,
.showcase-thumbnail-button-forward
{
    padding: 7px;
    cursor: pointer;
}

.showcase-thumbnail-button-backward
{
    padding-bottom: 0px;
    padding-right: 0px;
}

.showcase-thumbnail-button-backward .showcase-thumbnail-vertical,
.showcase-thumbnail-button-forward .showcase-thumbnail-vertical,
.showcase-thumbnail-button-forward .showcase-thumbnail-horizontal,
.showcase-thumbnail-button-backward .showcase-thumbnail-horizontal
{
    background-image: url(images/arrows-small.png);
    background-repeat: no-repeat;
    display: block;
    width: 17px;
    height: 17px;
}

.showcase-thumbnail-button-backward .showcase-thumbnail-vertical
{
    background-position: 0 -51px;
    margin-left: 55px;
}
.showcase-thumbnail-button-backward:hover .showcase-thumbnail-vertical
{
    background-position: -17px -51px;
}

.showcase-thumbnail-button-forward .showcase-thumbnail-vertical
{
    background-position: 0 -34px;
    margin-left: 55px;
}
.showcase-thumbnail-button-forward:hover .showcase-thumbnail-vertical
{
    background-position: -17px -34px;
}

.showcase-thumbnail-button-backward .showcase-thumbnail-horizontal
{
    background-position: 0 -17px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.showcase-thumbnail-button-backward:hover .showcase-thumbnail-horizontal
{
    background-position: -17px -17px;
}

.showcase-thumbnail-button-forward .showcase-thumbnail-horizontal
{
    background-position: 0 0;
    margin-top: 40px;
    margin-bottom: 40px;
}
.showcase-thumbnail-button-forward:hover .showcase-thumbnail-horizontal
{
    background-position: -17px 0;
}

/* Hide button text */
.showcase-thumbnail-button-forward span span,
.showcase-thumbnail-button-backward span span
{
    display: none;
}