body { 
background: radial-gradient(ellipse at center center , #FFF 21%, #25695C 100%) no-repeat scroll 0% 0% transparent;
font-family: Tahoma,Geneva,sans-serif;
font-size: 11px;  
    font-family: Tahoma, Geneva, sans-serif; font-size: 11px; 
}
input, button, select, textarea { font-family: Tahoma, Geneva, sans-serif; font-size: 11px; }
h1, h2, h3, h4, h5, h6, .font-a, .sidebar a { font-family: "gesslight", Tahoma, Geneva, sans-serif }
h1, h2, h3, h4, h5, h6 { font-weight: 100 }
h1 { font-size: 26px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
table.messages-list, table.messages-list th, table.messages-list td { direction: rtl; text-align: right }
.aligncenter { text-align: center }
.clear, .clearall { font-size: 1%; clear: both; height: 1%; }
.left { float: left; display: inline; }
.right { float: right; display: inline; }
.layout { background: #fff; border-radius: 30px 30px 30px 30px; margin: 30px auto; width: 960px; box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); }
.logo { padding: 25px; float: right }
.header { background: #605D5D;// border-radius: 0 30px 0 0; 
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}
.login-as { background: #565353;border-top-left-radius: 30px; float: left; height: 68px; padding: 23px 25px 0; text-align: right; position: relative; }
.login-as > a, .login-as > a:hover { background: url("images/arrow-d.png") no-repeat scroll left center transparent; display: block; line-height: 14px; padding-left: 30px; padding-right: 70px; text-decoration: none; }
.login-as .dropdown-menu { top: 88px; width: 235px; }
.login-as img { border: 4px solid #a1a1a1; float: right; margin-right: -60px; }
.login-as .user-name { color: #FFFFFF; display: block; font-size: 14px; padding-top: 8px; }
.login-as .job { color: #FFFFFF; display: block; font-size: 11px; }
.login-as > a > span {color:black;}
.search { margin: 17px 15px 0; float: left }
.search form { margin-bottom: 0 }
.sidebar { background:#86aba4; overflow: hidden }
.sidebar ul { list-style: none; margin: 0 }
.sidebar ul li { display: block; float: right }
.sidebar ul li a { display: block; text-align: center; padding: 15px 25px; font-size: 13px; color: #fff; text-transform: uppercase }
.sidebar ul li a > span { font-size: 35px; display: block; text-align: center; color: #fff; }
.sidebar ul li a:hover, .sidebar ul li a.active { color: #619289; text-decoration: none; background: #fff; }
.sidebar ul li a:hover > span, .sidebar ul li a.active > span { color: #89C5BA; }
.main { padding: 20px 15px 100px; text-align: right; min-height: 400px; overflow:hidden}
.main h1 { font-weight: 100; font-size: 26px; text-transform: uppercase;color:#619289; margin-bottom: 20px }
.nav-tabs, .nav-pills { position: relative; }
.items { overflow: hidden; margin: 20px 0 }
.items ul { list-style: none; margin: 0; padding: 0 }
.items ul li { display: inline; float: right; margin: 3px; text-align: center; font-size: 11px; text-transform: uppercase; font-weight: 700 }
.items ul li a:not(.upbtn) { display: block; height: 120px; padding: 15px; width: 105px; margin-bottom: 10px; border-radius: 15px; }
.items ul li a:hover { text-decoration: none; }
.items ul li a >span { color: #FFFFFF; display: block; font-size: 55px; line-height: 120px; text-align: center; }
.item-video { background: #86aba4; }
.item-download { background: #86aba4; }
.item-audio { background: #86aba4; }
.item-events { background: #86aba4; }
.item-imgs { background: #86aba4; }
/*forms*/
.input { display: block; margin-bottom: 15px; }
.radio, .checkbox { padding-left: 0 }
.searchwidget { padding: 10px; border-bottom: 1px solid #bbb; }
.searchwidget input.search-query { border: 1px solid #bbb; outline: none; padding: 7px 10px; width: 178px; }
.searchwidget .input-append { margin: 0; }
.searchwidget .btn { padding: 7px 12px; border-color: #bbb; }
.plainwidget { margin: 10px; background: #fcfcfc; border: 1px solid #bbb; padding: 5px 10px; }
.plainwidget .progress { margin: 5px 0; height: 10px; }
.leftmenu { margin: 10px 0; }
.leftmenu .nav-tabs li { border-bottom: 1px solid #bbb; margin: 0 1px 0 0; }
.leftmenu .nav-tabs li:first-child { border-top: 1px solid #bbb; }
.leftmenu .nav-tabs li a { border: 0; color: #666; text-shadow: 1px 1px rgba(255,255,255,0.3); }
.leftmenu .nav-tabs li a:hover { border: 0; }
.leftmenu .nav-tabs li a span { display: inline-block; vertical-align: top; margin: 2px 5px 0 0; opacity: 0.6; }
.leftmenu .nav-tabs > .active { margin-right: 0; font-weight: bold; background: #f7f7f7 url(images/gray_jean.png); }
.leftmenu .nav-tabs.nav-stacked > li > a:hover { background: #eee; }
.leftmenu .nav-tabs.nav-stacked > li.active > a { background: #f7f7f7 url(images/gray_jean.png); }
.leftmenu .nav-tabs > .active > a span { opacity: 0.8; }
.leftmenu .nav-tabs > .active ul li { font-weight: normal; }
.leftmenu .nav-tabs > .dropdown > a { background-image: url(images/arrowdown.png); background-repeat: no-repeat; background-position: right center; }
.leftmenu .nav-tabs > .dropdown > a:hover { background: #eee url(images/arrowdown.png) no-repeat right center !important; }
.leftmenu .nav-tabs.nav-stacked > .dropdown.active > a { background: transparent url(images/arrowdown.png) no-repeat right center !important; }
.leftmenu .nav-tabs ul { list-style: none; background: #d3d3d3; display: none; }
.leftmenu .nav-tabs ul li { margin-right: 0; background: none; }
.leftmenu .nav-tabs ul li a { padding: 5px 10px; display: block; padding-left: 33px; }
.leftmenu .nav-tabs ul li a:hover { text-decoration: none; background: #d7d7d7; }
.leftmenu .nav-tabs ul li:last-child { border-bottom: 0; }
/* Notifications */
.notification .dropdown-menu { left: auto; right: 0; min-width: 300px; }
.notification .dropdown-menu a { border-bottom: 1px dotted #eee; }
.notification .dropdown-menu li:last-child a { border-bottom: 0; }
.notification .dropdown-menu img { display: inline-block; margin: 2px 5px 2px 0; }
.notification [class^="icon-"], .notification [class*=" icon-"] { margin-right: 10px; vertical-align: middle; }
.notification .viewmore a { margin-top: 10px; font-size: 11px; text-transform: uppercase; font-weight: bold; color: #999; }
.notification .dropdown-toggle, .userinfo .dropdown-toggle { display: inline-block; background: #0b4073; padding: 7px 10px; color: #ccc; -moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2), 1px 1px 0 rgba(255,255,255,0.2); -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2), 1px 1px 0 rgba(255,255,255,0.2); box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2), 1px 1px 0 rgba(255,255,255,0.2); }
.userinfo .dropdown-toggle:hover { text-decoration: none; color: #fff; }
.userinfo .dropdown-menu { left: auto; right: 0; }
.userinfo .caret { border-top-color: #ccc; margin-left: 10px; }
.userinfo .dropdown-menu li > a { padding-left: 15px; }
.userinfo .dropdown-menu li > a span { margin-right: 5px; margin-top: -1px; }
.userinfo .dropdown-menu .divider { margin: 5px 0; }
/* Breadcrumbs */
.breadcrumbwidget { background: #8CAC03; min-height: 31px; border-left: 1px solid #3c3c3c; font-size: 11px; position: relative; }
.breadcrumbwidget .breadcrumb {  margin: 0; border: 0; padding: 5px 10px; }
.breadcrumbwidget .breadcrumb li { text-shadow: none; }
.breadcrumbwidget .breadcrumb li.active { color: #363232; font-weight: bold; font-size: 14px; }
.breadcrumbwidget .breadcrumb a { font-size: 14px; color: white; font-weight: bold; }
.breadcrumbwidget .breadcrumb a:hover { color: #827f7f; }
.breadcrumbwidget .breadcrumb .divider { color: #666; font-size: 14px; font-weight: bold; }
.showmenu { display: inline-block; height: 35px; width: 40px; background: #0b4073 url(images/menu.png) no-repeat center center; margin: 7px 0 0 8px; -moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2), 1px 1px 0 rgba(255,255,255,0.2); -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2), 1px 1px 0 rgba(255,255,255,0.2); box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2), 1px 1px 0 rgba(255,255,255,0.2); }
.showmenu:hover, .showmenu:active { background-color: #083865; }
/* Page Title */
.pagetitle { padding: 9px 12px; border-bottom: 1px solid #bbb; }
.pagetitle h1 { display: inline-block; font-size: 18px; vertical-align: middle; }
.pagetitle span { display: inline-block; margin-left: 10px; font-size: 11px; font-style: italic; color: #999; }
/* Main Content */
.maincontent { position: relative; padding-right: 30px; }
.contentinner { padding: 15px; min-height: 650px; float: left; width: 100%; }
.contentinner p { margin: 15px 0; }
.contentinner p:first-child { margin-top: 0; }
.contnetinner p:last-child { margin-bottom: 0; }
.wrapper404 ul { list-style: none; margin: 10px 0; }
.widgettitle { color: #999; text-transform: uppercase; text-transform: uppercase; margin-bottom: 15px; text-shadow: 1px 1px rgba(255,255,255,0.3); border: 1px solid #bbb; position: relative; }
h4.widgettitle { font-size: 12px; padding: 2px 10px; font-weight: bold; }
h4.ctitle { border: 1px solid; color: #fff; text-shadow: 1px 1px rgba(0,0,0,0.2); }
h3.widgettitle { font-size: 14px; padding: 5px 10px; }
h3.ctitle { border: 1px solid; color: #fff; text-shadow: 1px 1px rgba(0,0,0,0.2); }
.showhide { font-size: 10px; position: absolute; top: 0; right: 0; padding: 2px 10px; border-left: 1px solid #bbb; color: #999; text-align: center; min-width: 75px; }
.showhide:hover { text-decoration: none; color: #777; background: #e7e7e7; }
.widgetcontent { margin-bottom: 30px; position: relative; }
.widgetcontent.bordered { padding: 15px; border: 1px solid #bbb; border-top: 0; background: #fcfcfc; }
.widgetcontent.nopadding { padding: 0; }
.widgetsource { display: none; }
.widgetsource.show { display: block; }
.pargroup { border: 1px solid #ccc; background: #fcfcfc; }
.pargroup .par { border-bottom: 1px solid #ddd; padding: 10px; }
.pargroup .par:last-child { border-bottom: 0; }
.pargroup .par p.pull-right { margin-top: -20px; font-size: 11px; }
/* Elements */
.sortlist { list-style: none; position: relative; }
.sortlist > li { display: block; margin-bottom: 7px; }
.sortlist > li.ui-sortable-helper { opacity: 0.5; }
.sortlist > li span { opacity: 0.3; margin: -1px 5px 0 0; }
.sortlist > li div.label { display: block; padding: 10px; border: 1px solid #bbb; text-shadow: none; color: #666; position: relative; }
.sortlist > li div.label .showcnt { position: absolute; display: block; top: 12px; right: 5px; opacity: 0.3; }
.sortlist > li div.label .showcnt:hover { opacity: 0.6; cursor: pointer; }
.sortlist > li div.details { border: 1px solid #bbb; border-top: 0; padding: 10px; background: #fcfcfc; display: none; }
.sortlist > li div.details p { margin: 10px 0; }
.sortlist > li div.details p:first-child { margin-top: 0; }
.sortlist > li div.details p:last-child { margin-bottom: 0; }
.table-buttonlist tr td:first-child { width: 20%; text-align: center; vertical-align: middle; }
.table-buttonlist tr td:last-child { width: 80%; }
.table-buttonlist tr td ul li { text-align: left; }
.navsample .nav { margin-bottom: 0; }
.tooltipsample li { display: inline-block; margin-right: 5px; list-style: none; }
.popoversample li { display: inline-block; margin-right: 5px; list-style: none; }
.list-inline li { display: inline-block; margin: 0 5px 10px 0; }
.loaders img { float: left; margin-right: 10px; vertical-align: middle; }
/* Tables */
.dataTables_wrapper { position: relative; }
.dataTables_length, .dataTables_info { background: #eee; padding: 10px; font-size: 11px; border: 1px solid #ddd; }
.dataTables_length { border-bottom: 0; }
.dataTables_info { border-top: 0; }
.dataTables_filter { position: absolute; top: 12px; right: 10px; }
.dataTables_filter input { width: 150px; margin-left: 10px; }
.dataTables_paginate { position: absolute; bottom: 10px; right: 10px; }
.dataTables_paginate .first, .dataTables_paginate .previous, .dataTables_paginate .paginate_active, .dataTables_paginate .paginate_button, .dataTables_paginate .next, .dataTables_paginate .last { padding: 5px 10px; border: 1px solid #bbb; border-left: 0; font-size: 11px; background: #eee; cursor: pointer; }
.dataTables_paginate span:hover { background-color: #ddd; }
.dataTables_paginate .first { border-left: 1px solid #bbb; }
.dataTables_paginate .paginate_active { background: #fff; }
.dataTables_paginate .paginate_button:hover { background: #eee; }
.dataTables_paginate .paginate_button_disabled { cursor: default; color: #bbb; background: #eee; }
.dataTables_length select { width: auto !important; }
/***** FORM STYLES *****/
/***********************/

.stdform input { padding: 7px 5px; border: 1px solid #bbb; }
.stdform textarea { padding: 6px 5px; border: 1px solid #bbb; }
.stdform select { border: 1px solid #bbb; padding: 5px 2px; }
.stdform p, .stdform div.par { margin: 20px 0; }
.stdform span.field, .stdform div.field { margin-left: 220px; display: block; position: relative; }
.stdform .formwrapper { display: block; padding-top: 5px; margin-left: 220px; line-height: 25px; }
.stdform label { float: left; width: 200px; text-align: right; padding: 5px 20px 0 0; }
.stdform label.error { float: none; display: block; font-size: 11px; color: #ff0000; text-align: left; padding: 0; width: auto; margin-left: 220px; }
.stdform label.valid { color: #468847; }
.stdform small.desc { font-size: 11px; color: #999; font-style: italic; display: block; margin: 5px 0 0 220px; }
.stdform .stdformbutton { margin-left: 220px; }
.stdform #spinner.input-small { width: 100px; }
/*** ANOTHER FORM STYLE ***/
.stdform2 p, .stdform2 div.par { border-top: 1px solid #ddd; background: #fcfcfc; margin: 0; clear: both; }
.stdform2 div.terms { border: 0; background: none; }
.stdform2 p:first-child, .stdform2 div.par:first-child { border-top: 0; }
.stdform2 label { display: inline-block; padding: 15px 0 0 15px; vertical-align: top; text-align: left; font-weight: bold; }
.stdform2 label.error { margin-left: 0; padding: 0; }
.stdform2 label small { font-size: 11px; color: #999; display: block; font-weight: normal; line-height: 16px; }
.stdform2 span.field, .stdform2 div.field { margin-left: 220px; display: block; background: #fff; padding: 15px; border-left: 1px solid #ddd; }
.stdform2 .stdformbutton { margin-left: 0; padding: 15px; background: #fff; }
.stdform2 input[type=checkbox], .stdform2 input[type=radio] { margin: 10px; }
/*** DUAL BOX ***/
.dualselect { margin-left: 220px; display: block; }
.dualselect select { height: 200px; width: 40%; }
.dualselect .ds_arrow { display: inline-block; vertical-align: top; padding-top: 60px; margin: 0 10px; }
.dualselect .ds_arrow button { margin-top: -1px; }
/* CHARACTER COUNT */
.counter { display: block; margin: 5px 0; font-size: 12px; font-weight: bold; }
.warning { color: #bb0000; }
.exceeded { color: #ff0000; }
/***** ICONS *****/
/*****************/

/*dashboard*/
.widgeticons { list-style: none; margin-bottom: 15px; }
.widgeticons li { margin-bottom: 15px; }
.widgeticons li a { display: block; border: 1px solid #ccc; background: #fcfcfc; text-align: center; }
.widgeticons li a:hover { text-decoration: none; background-color: #fff; }
.widgeticons li a span { display: block; padding: 2px; text-transform: uppercase; margin-bottom: 5px; }
.widgeticons li a img { margin: 15px auto 5px auto; }
/***** WIZARD STYLES *****/
/*************************/

.wizard .hormenu { list-style: none; clear: both; margin-bottom: 75px; }
.wizard .hormenu li { float: left; width: 33.333%; }
.wizard .hormenu li a { display: block; padding: 10px; border: 1px solid #bbb; border-left: 0; }
.wizard .hormenu li:first-child a { border-left: 1px solid #bbb; }
.wizard .hormenu li a:hover { text-decoration: none; }
.wizard .hormenu li a span.h2 { font-size: 16px; color: #999; display: block; margin-bottom: 5px; }
.wizard .hormenu li span.label { display: block; color: #999; background: none; text-shadow: none; padding: 0; font-size: 12px; }
.wizard .hormenu li a span.dot span { width: 20px; height: 20px; display: inline-block; background: url(images/steps.png) no-repeat 0 -40px; }
.wizard .hormenu li:first-child a span.dot { margin-left: 47%; text-align: left; }
.wizard .hormenu li:last-child a span.dot { margin-right: 47%; text-align: right; }
.wizard .hormenu li a.done { background: #fcfcfc; }
.wizard .hormenu li a.done span.label { color: #666; }
.wizard .hormenu li a.done span.h2 { color: #235688; }
.wizard .hormenu li a.done span.dot span { background-position: 0 -20px; }
.wizard .hormenu li:first-child a.done span.dot span { background-position: 0 0; }
.wizard .hormenu li a.selected { background: #fcfcfc; }
.wizard .hormenu li a.selected span.dot span { background-position: 0 -120px; }
.wizard .hormenu li:first-child a.selected span.dot span { background-position: 0 -100px; }
.wizard .hormenu li a.selected span.label { color: #666; }
.wizard .hormenu li a.selected span.h2 { color: #235688; }
.stepContainer { background: #fcfcfc; width: auto !important; height: auto !important; border: 1px solid #bbb; box-shadow: 0 0 5px rgba(0,0,0,0.15); }
.stepContainer .content h4 { border: 0; border-bottom: 1px solid #bbb; }
.stepContainer p { margin: 20px 0; }
.stepContainer .par p { margin: 10px 0; line-height: 21px; }
.stepContainer .par p:last-child { border-bottom: 0; }
.actionBar { padding: 15px 0; position: relative; overflow: hidden; clear: both; }
.actionBar .loader { float: left; display: none; }
.actionBar a { float: right; display: inline-block; padding: 5px 15px; background: #3B6998; color: #fff; margin-left: 5px; font-weight: bold; border: 1px solid #45729E; }
.actionBar a:hover { text-decoration: none; background: #45729E; color: #fff; border-color: #45729E; }
.actionBar a:active { -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3); box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3); }
.actionBar a.buttonDisabled { background: #eee; border: 1px solid #ccc; color: #999; }
.actionBar a.buttonDisabled:hover { background: #eee; color: #999; cursor: default; }
.actionBar a.buttonDisabled:active { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.actionBar .msgBox { margin: 40px 0 10px 0; position: relative; }
.actionBar .msgBox .content { padding: 7px 10px; background: #fffccc; color: #333; border: 1px solid #FEEA7A; }
.actionBar .msgBox .close { padding: 0 2px 2px 2px; background: none; line-height: 10px; text-transform: lowercase; font-size: 10px; position: absolute; top: 5px; right: 7px; color: #333; text-shadow: none; font-weight: bold; -moz-border-radius: 1px; -webkit-border-radius: 1px; border-radius: 1px; }
.actionBar .msgBox .close:hover { background: #333; color: #eee; }
/***** TABBED WIZARD *****/
.tabbedwizard .stepContainer { padding: 30px; }
.tabbedwizard .stepContainer h4 { font-size: 12px; font-weight: bold; border-bottom: 1px solid #ddd; color: #666; }
.wizard .tabbedmenu { list-style: none; background: #f7f7f7; padding: 10px; padding-bottom: 0; border: 1px solid #bbb; border-bottom: 0; }
.wizard .tabbedmenu li { display: inline-block; margin-right: 5px; position: relative; bottom: -1px; }
.wizard .tabbedmenu li a { display: block; padding: 10px 20px; color: #999; border: 1px solid #ddd; background: #eee; }
.wizard .tabbedmenu li a { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; border-color: #bbb; }
.wizard .tabbedmenu li a span { text-shadow: none; padding: 0; background: none; color: #999; font-size: 12px; }
.wizard .tabbedmenu li a span.h2 { color: #999; display: block; font-size: 18px; font-weight: normal; }
.wizard .tabbedmenu li a:hover { text-decoration: none; }
.wizard .tabbedmenu li a.selected, .wizard .tabbedmenu li a.done { background: #fcfcfc; color: #333; border-bottom: 1px solid #fcfcfc; }
.wizard .tabbedmenu li a.selected span.h2, .wizard .tabbedmenu li a.selected span { color: #235688; }
.wizard .tabbedmenu li a.done span.h2, .wizard .tabbedmenu li a.done span { color: #235688; }
/***** VERTICAL WIZARD *****/
.verwizard .verticalmenu { list-style: none; float: left; width: 250px; }
.verwizard .verticalmenu li { margin-bottom: 2px; }
.verwizard .verticalmenu a { display: block; padding: 10px; color: #666; background: #f7f7f7; }
.verwizard .verticalmenu a:hover { text-decoration: none; }
.verwizard .verticalmenu a span { color: #666; background: none; text-shadow: none; font-size: 12px; }
.verwizard .verticalmenu a.selected { background: #235688; color: #fff; }
.verwizard .verticalmenu a.selected span { color: #fff; }
.verwizard .verticalmenu a.done { background: #999; color: #fff; }
.verwizard .stepContainer { margin-left: 280px; border: 0; }
.verwizard .stepContainer .content h4 { font-size: 12px; border-bottom: 1px solid #ddd; font-weight: bold; color: #666; }
.verwizard .actionBar { margin: 0 0 0 280px; border-top: 1px solid #ddd; }
/***** MESSAGES *****/
/********************/

.mailinbox tbody tr td { background: #fafafa; }
.mailinbox tbody tr.unread td { background: #fff; font-weight: bold; }
.mailinbox tbody tr.selected td { background: #fcfee4; }
.mailinbox thead th, .mailinbox tfoot th { border: 1px solid #ccc; border-right: 0; }
.mailinbox tfoot th { border-bottom: 1px solid #ccc !important; }
.mailinbox a.title { font-weight: normal; }
.mailinbox tbody tr.unread a.title { font-weight: bold; }
.mailinbox td.star, .mailinbox td.attachment { text-align: center; }
.msgstar { display: inline-block; width: 16px; height: 16px; background: url(images/unstar.png) no-repeat 0 0; cursor: pointer; opacity: 0.5; }
.msgstar:hover { opacity: 1; }
.starred { background-image: url(images/star.png); opacity: 1; }
.msghead { padding-bottom: 30px; margin-bottom: 10px }
.msghead-menu { list-style: none; position: relative; margin: 10px 0 !important; }
.msghead-menu > li { display: inline-block; float: right; }
.msghead-menu > li:first-child { padding-left: 0; }
.msghead-menu li.right { float: right; }
.msghead-menu .pageinfo { padding-right: 20px; display: block; margin-top: 5px; }
/***** SEARCH RESULTS LIST *****/
/*******************************/

.resultslist { list-style: none; margin: 10px; }
.resultslist li { display: block; margin-top: 20px; }
.resultslist li:first-child { margin-top: 0; }
.resultslist h3 { font-weight: normal; margin: 0; }
.resultslist .link { display: block; color: #999; }
.resultslist .link:hover { text-decoration: none; color: #666; }
.sidebarlabel { margin-bottom: 5px; }
/***** FOOTER STYLES *****/
/*************************/


.footer { position: absolute; bottom: 0; left: 0; font-size: 11px; background: #333; color: #999; width: 100%; }
.footer a { color: #bbb; }
.footer .footerleft { padding: 10px 15px; width: 230px; float: left; background: #222; min-height: 20px; border-right: 1px solid #3c3c3c; }
.footer .footerright { padding: 10px 15px; margin-left: 260px; text-align: right; }
/***** BORDER RADIUS *****/
/*************************/

 
/* Reset Border Radius */
.searchwidget input.search-query, .searchwidget .input-append .btn, .plainwidget .progress, .leftmenu .nav-tabs > li:first-child > a, .table-bordered, pre, .btn, .sortlist > li div.label, .popover-title, .nav-tabs > li > a, .nav-tabs.nav-stacked > li:first-child > a, .nav-tabs.nav-stacked > li:last-child > a, .breadcrumb, .alert, .tabs-below > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a, .tabs-left > .nav-tabs > li > a, .navbar-inner, .navbar-search .search-query, .pagination ul, .pagination ul > li:first-child > a, .pagination ul > li:first-child > span, .pagination ul > li:last-child > a, .pagination ul > li:last-child > span, .table-invoice tr td { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
/***** BOX SHADOW *****/
/**********************/

/* Inset White */
/* Opacity: 0.3 */
.leftmenu .nav-tabs li a, .widgettitle, .ui-accordion-header, .pargroup .par, .mediamgr .mediamgr_rightinner h4, .logintitle { -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3); -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3); box-shadow: inset 0 1px 0 rgba(255,255,255,0.3); }
/* Opacity: 0.2 */
.ctitle { -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2); -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2); box-shadow: inset 0 1px 0 rgba(255,255,255,0.2); }
.accordion2.ui-accordion .ui-accordion-header { -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); }
.alert { -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1), inset 0 1px 0 rgba(255,255,255,0.1); -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1), inset 0 1px 0 rgba(255,255,255,0.1); box-shadow: 0 1px 0 rgba(255,255,255,0.75), inset 0 1px 0 rgba(255,255,255,0.2); }
/* Inset Black */
.leftmenu .nav-tabs ul, .showhide:hover { -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); }
/* Shadows an element #000 */
.shadowed, .listfile li:hover, .widgeticons li a { -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.1); -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.1); box-shadow: 1px 1px 2px rgba(0,0,0,0.1); }
form input, form textarea, form select { -moz-box-shadow: 0 1px 0 rgba(255,255,255,1); -webkit-box-shadow: 0 1px 0 rgba(255,255,255,1); box-shadow: 0 1px 0 rgba(255,255,255,1); }
/* Reset to no shadow */
.leftmenu .nav-tabs ul li a, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus, .verwizard .stepContainer { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
/***** GRADIENT BACKGROUNDS *****/
/********************************/

.table-bordered { border-collapse: collapse }
.pagetitle, .leftmenu .nav-tabs li, .widgettitle, .ui-accordion-header, .ui-datepicker-header, #popup_title, .sortlist > li div.label, .dataTables_paginate .paginate_button, .dataTables_paginate .paginate_button_disabled:hover, .nav-tabs.nav-stacked > li > a, .tabbable .nav-tabs, .nav-list li.nav-header, .tabs-right .nav-tabs li a, .tabs-left .nav-tabs li a, .breadcrumb, .animatesample li, .pagination ul > li > a, .pagination ul > li > span, .pager li > a, .pager li > span, .popover-title, .actionBar a.buttonDisabled, .actionBar a.buttonDisabled:hover, .wizard .hormenu li a, .wizard .tabbedmenu, .mailinbox thead th,.mailinbox thead th a, .mailinbox tfoot th, .mediamgr_head, .mediamgr .mediamgr_rightinner h4, .logintitle { background: #605D5D; color: #fff }
.leftmenu .nav-tabs.nav-stacked > li.active > a, .breadcrumb, .leftmenu .nav-tabs ul li, .leftmenu .nav-tabs > .dropdown > a, .ctitle, .accordion2.ui-accordion .ui-state-active a, .tabs2.ui-tabs .ui-tabs-nav, .accordion2.ui-accordion .ui-accordion-header { filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/***** TRANSITIONS *****/
/***********************/

.leftmenu a, .ui-tabs-nav li a, .ui-accordion-header a, .showhide, .dropdown-menu li a, .ui-slider-handle, .listfile li, .nav.nav-list > li > a, .nav-pills > li > a, .navbar .nav > li > a, .pagination ul > li > a, .pagination ul > li > span, .pager li > a, .menuright li a, .profile-left .taglist li a, .widgeticons li a, .loginwrapper input, .loginwrapper a, .sidebar ul li a, .sidebar ul li a > span { -moz-transition: all 0.2s ease-out 0s; -webkit-transition: all 0.2s ease-out 0s; transition: all 0.2s ease-out 0s; }
/***** USING PRIMARY COLOR (#3b6998) *****/
/*****************************************/

.headerpanel { background-color: #3b6998; position: relative; z-index: 100; }
.ctitle, .accordion2.ui-accordion .ui-state-active a, .tabs2.ui-tabs .ui-tabs-nav { background: #3b6998 !important; }
.ctitle, .accordion2.ui-accordion .ui-state-active { border-color: #605D5D !important; }
/***** USING SECONDARY COLOR (#235688) *****/
/*******************************************/

.logopanel, .ui-datepicker-calendar td.ui-datepicker-today a, .tabs2.ui-tabs .ui-tabs-nav li a { background-color: #235688; }
.notification .dropdown-menu a:hover { border-color: #235688; }


/***** OVERRIDE BOOTSTRAP STYLES *****/
/*************************************/

[class^="icon-"], [class*=" icon-"] {
margin-top: 0;
}
pre.prettyprint, .accordion { margin-bottom: 0; }
dl { margin-bottom: 15px; }
.input-block-level { min-height: 37px; }
table td.center, table th.center { text-align: center; }
.btn { font-size: 12px; font-weight: bold; font-family: Tahoma, Geneva, sans-serif }
.btn-small { font-weight: normal; }
.btn-mini { font-size: 11px; font-weight: normal; }
.btn:focus { outline: none; }
.btn .caret { margin-left: 7px; }
.btn-group > .btn + .dropdown-toggle .caret { margin-left: 0; }
.btn-group > .btn, .btn-group > .dropdown-menu { font-size: 12px; }
.btn-circle { -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px; padding: 5px 8px; }
.btn-rounded { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.nav-tabs { border-color: #bbb; }
.nav-tabs > li > a:hover { border-color: #bbb #bbb #eee; }
.nav-tabs > .active > a, .nav-tabs > .active > a:hover { border-color: #bbb #bbb transparent; }
.nav-pills > li > a { font-weight: bold; }
.nav-pills > li > a:hover { background-color: #bbb; color: #fff; }
.nav-tabs.nav-stacked > li > a { border-color: #ccc; }
.nav-tabs.nav-stacked > li.active > a { background: #fff; }
.nav-tabs.nav-stacked > li > a:hover { border-color: #bbb; }
.nav-list { background: #fff; border: 1px solid #bbb; }
.nav-list li.nav-header { border-bottom: 1px solid #bbb; border-top: 1px solid #bbb; margin-bottom: 2px; margin-top: 2px; }
.nav-list li:first-child.nav-header { border-top: 0; margin-top: 0; }
.nav-list li:last-child { margin-bottom: 10px; }
.nav.nav-list > li > a { color: #666; }
.nav.nav-list > li.active > a { color: #fff; }
.tab-content { overflow: inherit; }
.tab-content > .tab-pane, .pill-content > .pill-pane { padding: 15px; border: 1px solid #bbb; background: #fff; }
.tabs-below .tab-content > .tab-pane, .pill-content > .pill-pane { border-bottom: 0; }
.tabbable > .nav-tabs { border: 1px solid #bbb; padding: 5px 5px 0 2px; margin: 0; }
.tabbable > .nav-tabs > li > a { margin-left: 3px; -moz-border-radius: 2px 2px 0 0; -webkit-border-radius: 2px 2px 0 0; border-radius: 2px 2px 0 0; }
.tabbable > .tab-content { margin-top: -1px; }
.tabs-below .nav-tabs { margin: 0; padding: 0; }
.tabs-below > .nav-tabs > li > a { -moz-border-radius: 0 0 2px 2px; -webkit-border-radius: 0 0 2px 2px; border-radius: 0 0 2px 2px; color: #666; }
.tabs-below > .nav-tabs > li > a:hover { background: #eee; border-color: #bbb; }
.tabs-below > .nav-tabs > .active > a, .tabs-below > .nav-tabs > .active > a:hover { background: #fff; border-color: transparent #bbb #bbb; }
.tabs-below > .nav-tabs { border: 1px solid #bbb; padding: 0 5px 5px 5px; }
.tabs-right { border: 1px solid #bbb; background: #fff; }
.tabs-right .nav-tabs { margin: 0 0 0 5px; background: none; border: 0; padding: 0; }
.tabs-right .tab-content > .tab-pane { border: 0; background: none; }
.tabs-right .nav-tabs > li { display: block; margin-bottom: 0; border: 0; }
.tabs-right .nav-tabs li a { border: 0; border: 1px solid #bbb; border-bottom: 0; border-right: 0; margin: 0; display: block; color: #666; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
.tabs-right .nav-tabs li a:hover { border: 1px solid #bbb; border-bottom: 0; border-right: 0; background: #eee; }
.tabs-right .nav-tabs li.active a, .tabs-right .nav-tabs li.active a:hover { border: 0; border-top: 1px solid #bbb; border-left: 1px solid #fff; background: #fff; }
.tabs-right .nav-tabs li.active a:hover { border: 0; border-top: 1px solid #bbb; border-left: 1px solid #fff; }
.tabs-right .nav-tabs li:first-child a { border-top: 0; }
.tabs-right .nav-tabs li:first-child.active a { border-top: 0; }
.tabs-left { border: 1px solid #bbb; background: #fff; }
.tabs-left .nav-tabs { margin: 0 5px 0 0; background: none; border: 0; padding: 0; }
.tabs-left .tab-content { margin: 0; }
.tabs-left .tab-content > .tab-pane { border: 0; background: none; }
.tabs-left .nav-tabs > li { display: block; margin-bottom: 0; border: 0; }
.tabs-left .nav-tabs li a { border: 0; border: 1px solid #bbb; border-bottom: 0; border-left: 0; margin: 0; display: block; color: #666; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
.tabs-left .nav-tabs li a:hover { border: 1px solid #bbb; border-bottom: 0; border-left: 0; background: #eee; }
.tabs-left .nav-tabs li.active a, .tabs-left .nav-tabs li.active a:hover { border: 0; border-top: 1px solid #bbb; background: #fff; }
.tabs-left .nav-tabs li.active a:hover { border: 0; border-top: 1px solid #bbb; }
.tabs-left .nav-tabs li:first-child a { border-top: 0; }
.tabs-left .nav-tabs li:first-child.active a { border-top: 0; }
.navbar { margin-bottom: 15px; }
.navbar-inner { border-color: #bbb; }
.navbar .brand { font-size: 16px; font-weight: bold; }
.navbar .nav > li { border-left: 1px solid #bbb; }
.navbar .nav > li:last-child { border-right: 1px solid #ccc; }
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus { background: #fff; }
.navbar .nav > li > a { padding: 11px 15px; font-weight: bold; }
.navbar .nav > li > a:hover { background: #eee; }
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle { background: #fff; }
.navbar .navbar-search.pull-right .search-query { margin-right: -15px; }
.navbar .navbar-search.pull-left .search-query { margin-left: -15px; }
.navbar .navbar-form.pull-right { margin-right: -15px; }
.navbar .navbar-form.pull-left { margin-left: -15px; }
.navbar .navbar-form input { width: 168px; }
.navbar-inverse .navbar-inner { background: #222; }
.navbar-inverse .nav > .active > a, .navbar-inverse .nav > .active > a:hover, .navbar-inverse .nav > .active > a:focus { background: #111; }
.navbar-inverse .nav > li, .navbar-inverse .nav > li:last-child { border-color: #373737; }
.navbar-inverse .nav > li > a:hover { background: #171717; }
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle { background: #171717; }
.breadcrumb { background: #605D5D; border: 1px solid #bbb; font-size: 11px; padding: 5px 15px; }
.breadcrumb li.active { color: #666; }
.breadcrumb .divider { color: #999; }
.pagination { margin: 15px 0; }
.pagination ul > li > a, .pagination ul > li > span { border-color: #bbb; color: #666; }
.pagination ul > li > a:hover, .pagination ul > .active > a, .pagination ul > .active > span { background: #f7f7f7; }
.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover { background: #e7e7e7; }
.pager { margin: 15px 0; }
.pager li > a { border-color: #bbb; color: #666; font-weight: bold; }
.pager li > a:hover { background: #f7f7f7; border-color: #ccc; }
.pager li > a span { font-size: 18px; }
.pager li.previous a span { margin-right: 5px; }
.pager li.next a span { margin-left: 5px; }
.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > span { background : #e7e7e7; border-color: #ccc; }
.label { padding: 3px 5px; font-size: 11px; font-weight: normal; }
.badge { font-size: 10px; -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px; line-height: 10px; padding: 3px 5px 2px 5px; }
.progress { height: 12px; background: #ddd; }
blockquote { background: url(images/blockquote.png) no-repeat 0 5px; font-size: 12px; font-style: italic; padding-left: 40px; border-right: 4px solid #ddd; border-left: none; padding-right: 15px; }
blockquote p { margin: 0 !important; font-size: 12px; }
blockquote.pull-right { background-position: right 5px; padding: 0 40px 0 0; border-right: 0; }
.btn-default { background: #3b6998; color: #fff; text-shadow: 1px 1px rgba(0,0,0,0.1); background: -moz-linear-gradient(top, #3b6998 0%, #0b4073 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b6998), color-stop(100%, #0b4073)); background: -webkit-linear-gradient(top, #3b6998 0%, #0b4073 100%); background: -o-linear-gradient(top, #3b6998 0%, #0b4073 100%); background: -ms-linear-gradient(top, #3b6998 0%, #0b4073 100%); background: linear-gradient(to bottom, #3b6998 0%, #0b4073 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b6998', endColorstr='#0b4073', GradientType=0 );
}
.btn-default:hover { background: #4e86b7; color: #fff; text-shadow: 1px 1px rgba(0,0,0,0.1); background: -moz-linear-gradient(top, #4e86b7 0%, #035f9a 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4e86b7), color-stop(100%, #035f9a)); background: -webkit-linear-gradient(top, #4e86b7 0%, #035f9a 100%); background: -o-linear-gradient(top, #4e86b7 0%, #035f9a 100%); background: -ms-linear-gradient(top, #4e86b7 0%, #035f9a 100%); background: linear-gradient(to bottom, #4e86b7 0%, #035f9a 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e86b7', endColorstr='#035f9a', GradientType=0 );
}
.alert { border-color: #e4bf7f; color: #9c6c38; margin-bottom: 15px; background: rgb(246,237,186); background: -moz-linear-gradient(top, rgba(246,237,186,1) 0%, rgba(245,224,168,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(246,237,186,1)), color-stop(100%, rgba(245,224,168,1))); background: -webkit-linear-gradient(top, rgba(246,237,186,1) 0%, rgba(245,224,168,1) 100%); background: -o-linear-gradient(top, rgba(246,237,186,1) 0%, rgba(245,224,168,1) 100%); background: -ms-linear-gradient(top, rgba(246,237,186,1) 0%, rgba(245,224,168,1) 100%); background: linear-gradient(to bottom, rgba(246,237,186,1) 0%, rgba(245,224,168,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6edba', endColorstr='#f5e0a8', GradientType=0 );
}
.alert .close { top: 0; right: -23px; color: #937f0e; }
.alert h4 { color: #9c6c38; }
.alert-danger { border-color: #e18d9a; color: #da5251; background: rgb(246,216,216); background: -moz-linear-gradient(top, rgba(246,216,216,1) 0%, rgba(245,197,197,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(246,216,216,1)), color-stop(100%, rgba(245,197,197,1))); background: -webkit-linear-gradient(top, rgba(246,216,216,1) 0%, rgba(245,197,197,1) 100%); background: -o-linear-gradient(top, rgba(246,216,216,1) 0%, rgba(245,197,197,1) 100%); background: -ms-linear-gradient(top, rgba(246,216,216,1) 0%, rgba(245,197,197,1) 100%); background: linear-gradient(to bottom, rgba(246,216,216,1) 0%, rgba(245,197,197,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6d8d8', endColorstr='#f5c5c5', GradientType=0 );
}
.alert-danger .close, .alert-danger h4 { color: #990000; }
.alert-success { border-color: #b4da95; color: #468847; background: rgb(223,240,216); background: -moz-linear-gradient(top, rgba(223,240,216,1) 0%, rgba(208,242,195,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(223,240,216,1)), color-stop(100%, rgba(208,242,195,1))); background: -webkit-linear-gradient(top, rgba(223,240,216,1) 0%, rgba(208,242,195,1) 100%); background: -o-linear-gradient(top, rgba(223,240,216,1) 0%, rgba(208,242,195,1) 100%); background: -ms-linear-gradient(top, rgba(223,240,216,1) 0%, rgba(208,242,195,1) 100%); background: linear-gradient(to bottom, rgba(223,240,216,1) 0%, rgba(208,242,195,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dff0d8', endColorstr='#d0f2c3', GradientType=0 );
}
.alert-success .close, .alert-success h4 { color: #468847; }
.alert-info { border-color: #88c4e2; color: #3a87ad; background: rgb(217,237,247); background: -moz-linear-gradient(top, rgba(217,237,247,1) 0%, rgba(186,230,252,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(217,237,247,1)), color-stop(100%, rgba(186,230,252,1))); background: -webkit-linear-gradient(top, rgba(217,237,247,1) 0%, rgba(186,230,252,1) 100%); background: -o-linear-gradient(top, rgba(217,237,247,1) 0%, rgba(186,230,252,1) 100%); background: -ms-linear-gradient(top, rgba(217,237,247,1) 0%, rgba(186,230,252,1) 100%); background: linear-gradient(to bottom, rgba(217,237,247,1) 0%, rgba(186,230,252,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9edf7', endColorstr='#bae6fc', GradientType=0 );
}
.alert-info .close, .alert-info h4 { color: #3a87ad; }
.popover { padding: 0; }
.popover-title { border-color: #bbb; }
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus { -moz-box-shadow: 0 0 5px rgba(103,173,245,0.5); -webkit-box-shadow: 0 0 5px rgba(103,173,245,0.5); box-shadow: 0 0 5px rgba(103,173,245,0.5); -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 2px; border-color: #5c9fe4; background: #fff; }
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; margin-bottom: 0; font-size: 12px; color: #666; background: #fcfcfc; }
.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input, .input-append .dropdown-menu, .input-prepend .dropdown-menu { font-size: 12px; }
.table-bordered caption + thead tr:first-child th:first-child, .table-bordered caption + tbody tr:first-child td:first-child, .table-bordered colgroup + thead tr:first-child th:first-child, .table-bordered colgroup + tbody tr:first-child td:first-child { border-top-left-radius: 0; }
.table-bordered caption + thead tr:first-child th:last-child, .table-bordered caption + tbody tr:first-child td:last-child, .table-bordered colgroup + thead tr:first-child th:last-child, .table-bordered colgroup + tbody tr:first-child td:last-child { border-top-right-radius: 0; }
.table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first-child, .table-bordered thead:first-child tr:first-child th:last-child, .table-bordered tbody:first-child tr:first-child td:last-child, .table-bordered thead:last-child tr:last-child th:first-child, .table-bordered tbody:last-child tr:last-child td:first-child, .table-bordered tfoot:last-child tr:last-child td:first-child { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
.post { border-bottom: 1px solid #ddd; margin-bottom: 10px; padding-bottom: 10px }
#gallery-view { width: 80%; margin: 0 auto }
.carousel-inner > .item { text-align: center }
.timeline { border-right: 2px solid #ebebeb; padding-right: 20px; margin: 20px }
.timeline-item { position: relative }
.timeline-item h3 { line-height: 20px; margin: 0; padding: 0; padding-right: 30px; margin-right: -30px; position: relative;direction: rtl; }
//.timeline-item h3 a { color: #313132 }
.timeline-item h3 a:hover { text-decoration: none }
.timeline-icon { position: absolute; right: 0; display: block; border: 4px solid #ebebeb; border-radius: 50%; }
.timeline-icon i { background: none repeat scroll 0 0 #2982D5; border: 2px solid #FFF; border-radius: 50% 50% 50% 50%; display: block; height: 6px; width: 6px; }
.timeline-item h3 a:hover .timeline-icon i { background: #bcbcbc; }
.content-section { padding-bottom: 20px }
.comments { padding: 30px 0; }
.comment-item { margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #ddd }
.dashboard-items ul li a { height: auto; width: auto; margin: 0 }
.book-wrap {margin:5px 25px; opacity:0.7; -moz-transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; position:relative; top:0 }
.book-wrap:hover {   background: url(./img/upload/course_hover.png) no-repeat bottom;top:-20px; opacity:1}

.book-wrap img {box-shadow: -1px 0 3px rgba(0, 0, 0, 0.5);}
.book-wrap-table {width: 105px;height: 50px; position: relative; opacity:0.7; -moz-transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; top:0; }
/*.book-wrap-table:hover {  top:-10px; opacity:1}*/
.book-wrap-table a img{ box-shadow: -1px 0 3px rgba(0, 0, 0, 0.5); width: 50px; height: 50px;}
.book-wrap-table a
{
    margin: 0px;
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
}
.dashboard-items { width: 852px; margin: 0 auto; position: relative; background: url(images/wall-bookshelf.png) no-repeat bottom; padding-bottom: 130px }
.scorm { width:98%; margin:0 auto;border-radius:0 }
.checkgroup{
    height:300px;
    overflow: scroll;
    border:1px solid #d9d9d9;
    padding:4px;
}
.checkgroup input[type="checkbox"]{
    display: inline-block;
    float: right;
    margin-left: 10px;
}
.footer-center{
    text-align: center;
    padding:10px 0px;
}

.poll-questions input[type="checkbox"],.poll-questions input[type="radio"]{
    display: inline-block;
    float: right;
    margin-left: 10px;
}
.sch_view{ font-size:16px; direction: rtl; margin-right: 20px;}
.sch_view span{font-size: 16px;  font-weight: bold;}
#ScheduleDetailEndTimeHour, #ScheduleDetailEndTimeMin, #ScheduleDetailEndTimeMeridian, #ScheduleDetailStartTimeHour, #ScheduleDetailStartTimeMin, #ScheduleDetailStartTimeMeridian
{
    width:70px;
}

#AttendanceStartDateHour,#AttendanceStartDateYear,#AttendanceStartDateMin,
#AttendanceStartDateDay,#AttendanceStartDateMonth,#AttendanceStartDateMeridian,
#AttendanceEndDateHour,#AttendanceEndDateYear,#AttendanceEndDateMin,
#AttendanceEndDateDay,#AttendanceEndDateMonth,#AttendanceEndDateMeridian
{
 width:70px;
}
#AttendanceStartDateMonth,#AttendanceEndDateMonth
{
 width:100px;
}

.lbl_rep
{
    direction: rtl;
    font-size: 18px;
    padding-right: 10px;
}
#report
{
    direction: rtl;
    margin: 10px;
    padding: 20px;
    border: black solid thin;
    border-radius: 25px;
    font-size: 15px;
}
h2
{
    border-bottom: #E0DFE3 1px solid;
}
#txt_ar_notes
{
    width: auto;
}

/*radio button in attendance details*/
#hMenu{
  display: inline;
  font-size: medium;
}

#lbl_name
{
    margin-top: 5px;
    margin-left: 10px;
}
.small_lbl
{
    direction: rtl;
    width: 90px;
}

#iframe.hidden
{
overflow:hidden;
display:none;
visibility:hidden;
    
}

.ann-notify
{
    background-color: tomato;
    border-radius: 50px;
    position: absolute;
    padding: 15px 23px;
    margin-top: -20px;
    margin-left: -25px;
    color: #ffffff;
    font-size: 15px;
}

#cert
{
    background-image:url('images/cert.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    width: 850px;
    height: 700px;
    margin-left: 40px;
}

#cert div a img
{
    padding-right: 120px;
    padding-top: 60px;
}
#cert_title
{
    text-align: center;
    color: #0899b8;
    font-family: Times New Roman; 
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
}
#cert_title h1{font-size: 55px; font-weight: bold;color: black;}

#cert_bdy
{
    margin: 35px;
    padding-right: 100px;
    font-size: 20px;
    font-weight: bold;
    direction: rtl;
    line-height: 40px;
}
#cert_bdy span{color: #a21414;}
#cert_footer
{
    float: left;
    margin-left: 100px;
}
#cert_footer div
{
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}
#cert_footer div span {font-weight: bold;}